.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #3FAA9E;
    height: 100vh;
}

.btn-login {
    width: 100%;
    background-color: #fff;
    color: #3FAA9E;
}

.btn-login:hover {
    background-color: #bf55ec;  
    color: #fff;  
}

.opcoes-login a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in-out;
}

.opcoes-login a:hover {    
    color: #bf55ec;
}

